<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
  <div data-role="content">
    <img src="/public/images/AppForum2012.jpg"/>
    <ul data-role="listview">
      <li><a href="EMEA">EMEA</a></li>
    </ul>
  </div>
</div>
