<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>EventSponsors</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @eventsponsorses.each do |eventsponsors| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => eventsponsors.object %>">
              <%= eventsponsors.name %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
